*{
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 h5 h6 p ul{
    margin: 0;
    padding: 0;
}
header{
padding: 20px 0;
background: #f9f9f9;
}
.logo1{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}
nav{

width: 50%;
}
nav ul{

list-style: none;

/* text-align: center; */

display: flex;

justify-content: end;
}
nav  ul li{margin-left: 40px;}
nav  ul li a{

text-decoration: none;

text-transform: uppercase;

color: #2d3050;
font-family: 'Lato', sans-serif;

}
 .banner{background-image: url(../images/banner.png);min-height: 90vh;background-repeat: no-repeat;background-size: cover;background-position: center;display: flex;justify-content: center;align-items: center;}
 .banner-con{

width: 30%;

text-align: center;

}
 .banner-con h1{color: #fff;font-size: 90px;text-transform: uppercase;margin-bottom: 10px;font-weight: 500;}
.banner-con span{
    
display: block;
    
background: #15a4fa;
    
height: 2px;
    
width: 100%;
}
.banner-con p{
    
color: #fff;
    
margin:  20px 0 30px 0;
}
.banner-con button{
    
background: transparent;
    
border: none;
    
border: 1px solid #15a4fa;
    
padding: 10px 20px;
    
border-radius: 5px;
    
color: #fff;
    
text-transform: capitalize;
transition: .4s all ease-in-out;
cursor: pointer;
}
.banner-con button:hover{
    background-color: #15a4fa;
    color: #fff
    ;
}